:root {
  --red: hsl(0, 70%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
}

@font-face {
  font-family: "poppins-bold";
  src: url("./fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "poppins-regular";
  src: url("./fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "poppins-thin";
  src: url("./fonts/Poppins-Thin.ttf");
}

.App {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--very-light-gray);
}

.fourCardFeature {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading1 {
  font-family: "poppins-thin";
  font-size: 32px;
  text-align: center;
  letter-spacing: 0.25px;
  color: var(--very-dark-blue);
  padding-top: 50px;
}

.heading2 {
  font-family: "poppins-bold";
  font-size: 32px;
  text-align: center;
  color: var(--very-dark-blue);
  margin-top: -25px;
}

.mainPara {
  font-family: "poppins-regular";
  width: 500px;
  font-size: 15px;
  font-weight: 200;
  text-align: center;
  color: var(--grayish-blue);
  margin-top: -10px;
}

.cardContainer {
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 120px 120px 120px 120px;
  grid-template-areas:
    ". builder ."
    "supervisor builder calculator"
    "supervisor karma calculator"
    ". karma .";
  margin-top: 70px;
}

@media only screen and (max-width: 1270px) {
  .cardContainer {
    grid-gap: 15px;
    grid-template-columns: 400px 400px;
    grid-template-rows: 120px 120px 120px 120px;
    grid-template-areas: 
      "supervisor builder"
      "supervisor builder"
      "karma calculator"
      "karma calculator";
  }
}

@media only screen and (max-width: 820px) {
  .cardContainer {
    grid-row-gap: 20px;
    grid-template-columns: 350px;
    grid-template-rows: 240px 240px 240px 240px;
    grid-template-areas: 
      "supervisor"
      "builder"
      "karma"
      "calculator";
    align-items: center;
    padding-bottom: 20px;
  }
  .heading1 {
    font-size: 24px;
  }
  .heading2 {
    margin-top: -20px;
    font-size: 24px;
  }
  .mainPara {
    width: 80%;
  }
  .cardContainer hr {
    margin-left: 50px;
  }
}

.cardContainer div {
  height: 200px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding: 40px;
  padding-top: 20px;
  padding-bottom: 30px;
  overflow: hidden;
  box-shadow:
    0px 1.8px 2.2px rgba(0, 0, 0, 0.02),
    0px 4.3px 5.3px rgba(0, 0, 0, 0.028),
    0px 8.1px 10px rgba(0, 0, 0, 0.035),
    0px 14.5px 17.9px rgba(0, 0, 0, 0.042),
    0px 27.2px 33.4px rgba(0, 0, 0, 0.05),
    0px 65px 80px rgba(0, 0, 0, 0.07);
}

.cardContainer hr {
  width: 125%;
  border-top: 5px solid;
  margin-left: -40px;
  margin-top: -20px;
}

.cardContainer h1 {
  font-family: "poppins-bold";
  font-size: 18px;
  color: var(--very-dark-blue);
}

.cardContainer p {
  font-family: "poppins-regular";
  font-size: 15px;
  color: var(--grayish-blue);
}

.cardContainer img {
  width: 70px;
  align-self: flex-end;
  justify-self: flex-end;
}

.supervisor {
  grid-area: supervisor;
}

.supervisor hr {
  border-color: var(--cyan);
}

.builder {
  place-self: center;
  grid-area: builder;
}

.builder hr {
  border-color: var(--red);
}

.karma {
  place-self: center;
  grid-area: karma;
}

.karma hr {
  border-color: var(--orange);
}

.calculator {
  grid-area: calculator;
}

.calculator hr {
  border-color: var(--blue);
}
